.perfil{
    width: 200px;
    height: 200px;
}

.botao {
  display: inline-block;
  background-color: gray;
  color: white;
  padding: 10px 20px;
  text-decoration: none; /* tira o sublinhado */
  border-radius: 6px;
}

.seta{
    width: 20px;
    text-align: center;
}